.poker-1,
.poker-3 {
	color: red;
}

.pokers span {
	display: inline-block;
	font-size: 20px;
	margin: 10px 5px;
	padding: 10px 5px;
	border: 1px solid black;
	border-radius: 5px;
	animation: 1s pokerReverse ease-in;
	backface-visibility: hidden;
}

@keyframes pokerReverse {
	from {
		transform: rotateY(-90deg);
	}
	to {
		transform: rotateY(0deg);
	}
}

.folded {
	background: #C4C4C4;
	color: black;
}


/* back */

.back {
	font-size: 30px;
	position: absolute;
	left: 0;
	top: 0;
	margin: 10px;
	padding: 5px 8px;
	color: #FFFFFF;
	border-radius: 5px;
	cursor: pointer;
}

.back:hover {}

.back:active {}


/* login */

.login {
	text-align: center;
	margin-top: 300px;
}

.login>p,
.login label {
	margin: 20px;
	font-size: 20px;
	font-weight: 700;
}

.login input {
	padding-left: 10px;
	height: 40px;
	border: 1px solid #CCCCCC;
	border-radius: 10px;
	box-shadow: 5px 5px 2px #48576A;
	font-size: 30px;
}

.login button {
	height: 40px;
	border: 0;
	border-radius: 10px;
	box-shadow: 5px 5px 2px #48576A;
	font-size: 30px;
	color: white;
	background-color: cornflowerblue;
	cursor: pointer;
}


/* hall */

.hall {
	display: none;
	margin-top: 200px;
}

.hall h2 {
	font-size: 40px;
	text-align: center;
	margin: 20px;
}

.hall-list {
	display: flex;
	justify-content: center;
}

.hall-room {
	padding: 20px;
	font-size: 12px;
	font-weight: 300;
	border: solid 1px #C4C4C4;
	border-radius: 5px;
	text-align: center;
	transition: opacity 300ms ease-in-out;
	opacity: 0.4;
}

.hall-room:hover {
	opacity: 1;
	cursor: pointer;
}

.hall-room.gaming {
	background-color: #C4C4C4;
}

.hall-room.wating {
	background-color: #F7F7F7;
}

.hall-title {
	font-weight: 500;
	font-size: px;
}

.hall-abstract {
	font-weight: 300;
	color: #32353E;
	font-size: 20px;
}

.hall-players {
	font-size: 10px;
}

.hall-players:after {
	content: '人'
}

.hall-state {
	font-size: 10px;
}


/*stage*/

.stage {
	display: none;
	position: relative;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.stage-players {
	display: flex;
}

.stage-players>div {
	margin: 10px;
}

.stage-banker {
	display: flex;
	justify-content: center;
}

.stage-banker>div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.stage-players {
	border: 1px solid #C4C4C4;
}

.stage-askBlock {
	/*display: none;*/
	justify-content: center;
	border: 1px solid black;
	border-radius: 5px;
	flex-direction: column;
	align-items: center;
}

.stage-table {
	position: relative;
	display: flex;
	background: green;
	border-radius: 10px;
	height: 200px;
	width: 500px;
}

.stage-table>div {
	flex: 1;
}

.state-select {
	display: flex;
}

.state-btn {
	flex: 1;
	border: 0;
	background-color: #48576A;
}

.state-startBtn {
	height: 30px;
	font-size: 20px;
	font-weight: 400;
	width: 500px;
	text-align: center;
	background: black;
	color: white;
	border: 0;
}


/*chip field*/

.chipField {}


/*chip*/

.droppedChip {
	position: absolute;
	height: 20px;
	width: 20px;
	transform: rotateX(-45deg);
	border-radius: 50%;
	color: black;
	background-color: mediumspringgreen;
	border: 2px solid red;
	text-align: center;
	line-height: 20px;
	transition: all 1s ease-in-out;
	top: 0;
}

.dropping {
	animation: 1s dropping ease-in-out forwards;
}

.getting {
	/*animation:1s getting ease-in-out forwards;*/
	top: 200px;
	animation: 1.5s getting ease-in-out forwards;
}


/*drop animate*/

@keyframes dropping {
	from {
		transform: translate(0, 1000%) rotateX(-45deg);
	}
	to {
		transform: translate(0, 0) rotateX(-45deg);
	}
}

@keyframes getting {
	from {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}